<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captains_Log</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div class="main-content">
            <form action="" method="POST">
                <input type="text" name="title">
                <input type="textarea" name="title">
                <input type="checkbox" name="shipIsBroken">
                <input type="submit" value="Submit changes">
            </form>
        </div>
    </main>
    
</body>
</html>